body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

.first-container{
    background-color: #1F2937;
    padding-top: 10px;
    padding-right: 200px;
    padding-left: 200px;
  
    
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    margin: 0;
    padding:0;
}

.link {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
    padding:0;
}

p, ul{
    margin: 0;
    padding:0;
}
.link-container{
    display: flex;
    margin: 0;
    padding:0;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

.img-container{
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 100px;
    margin: 0;
    gap: 10px;
}

.header-img > img{
    width: 500px;
    height: auto;
}

.awesome{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.awesome-text > p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.awesome-container > button{
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #F9FAF8;
    border-color: none;
    border: 0px;
   
}

.awesome-container{
    padding-right: 40px;
}

button{
    cursor: pointer;
    padding: 6px 25px;
    border-radius: 5px;
    background-color: #3882F6;
}


.second-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.four-images-container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.info-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-img > img{
    width: 200px;
    height: 220px;
    border: 4px solid #3882F6;
    border-radius: 20px
}

.info-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}